<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><%= @passenger.name %> your flight was successfully booked!</h1>

<p>You're departing at <%= @passenger_flight.departure_airport.name %> Airport </p>
<p>Your flight will depart at <%= @passenger_flight.departure_time %> </p>
</body>
</html>


